<nav class="menu">
    <LinkTo @route="index" class="menu-index">Home</LinkTo>
    <LinkTo @route="birds" class="menu-birds">Awesome Birds</LinkTo>
    <LinkTo @route="about" class="menu-about">About Eric</LinkTo>
    <LinkTo @route="about" class="menu-source">Source Code</LinkTo>
</nav>