<Jumbo
    @isMain=true
    @hasSubhead=true
    @subheadText="But then again, all birds are awesome."
>
    Awesome Birds!
</Jumbo>

<label>
    Search for a Bird
</label>

<Birds @birdList={{@model}} />
